@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    -webkit-tap-highlight-color: transparent;
    /* background: url('./images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: #242B2E;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* signup */

.signup {
    background-color: #264653;
    max-width: 700px;
    width: 90%;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
}

.signup h2 {
    color: #f4a261;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #f4a261;
}

.form-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.form-group label{
    color: #f4a261;
    margin-bottom: 5px;
}

.form-group-inline {
    margin-bottom: 5px;
}

.form-group-inline label {
    margin-right: 20px;
    color: #758283;
}


.icon, .eye {
    position: absolute;
    top: 27.5px;
    width: 28px;
    height: 28px;
}

.icon {
    left: 10px;
}

.eye {
    right: 10px;
    cursor: pointer;
}

.hide {
    display: none;
}

.form-group input {
    border: 1.5px solid #264653;
    outline: none;
    padding: 10px 0 10px 40px;
    border-radius: 5px;
}

.form-group input::placeholder {
    color: #242B2E;
}

.form-group input.error {
    border: 1.5px solid #DE4839;
}

.form-group input.success {
    border: 1.5px solid green;
}

.form-group small {
    font-size: 0.8rem;
    visibility: hidden;
    color: #DE4839;
    margin-bottom: 5px;
}

.form-group small.error {
    visibility: visible;
}


.btn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e9c46a;
    color: #242B2E;
    font-weight: bold;
}

.login-link {
    text-align: center;
}

.login-link p {
    color: #758283;
}

.login-link a {
    color: #AF9D5A;
    font-weight: bold;
}

.divider {
    display: none;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #f4a261; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 

.divider span {
    background:#264653; 
    padding:0 10px; 
    color: #f4a261;
}


.divider-vertical {
    width: 10%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.or-separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f4a261;
}

.vertical-line {
    border-left: 1px solid #f4a261;
    flex-grow: 1;
    width: 1px;
}

.social-media-login {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.social-media-login a {
    display: flex;
    align-items: center;
    margin: 10px 0;
    letter-spacing: 0.2rem;
    padding: 0.5rem 1rem;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    color: #242B2E;
}

.social-media-login a > * {
    margin: 0 10px;
}

.social-media-login a.twitter {
    background-color: #56acee;
}

.social-media-login a.facebook {
    background-color: #3b5998;
}



.social-icon {
    width: 28px;
    height: 28px;
}

.social-icon.facebook {
    background-color: #3b5998;
}


@media screen and (max-width: 700px) {
    .signup {
        flex-direction: column;
        padding: 1rem;
    }

    .form-data {
        width: 100%;
    }

    .divider {
        display: block;
    } 

    .divider-vertical {
        display: none;
    }


    .social-media-login {
        width: 100%;
    }

    .social-media-login a {
        width: 100%;   
    }
}